<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav class="navbar navbar-default navbar-static-top navbar-inverse ">
  <ul class="nav navbar-nav navbar-left">

    <a class="navbar-brand" href="https://nolist-cameroniharris.c9users.io">Not To Do List</a>
    <li><%= link_to 'About Page', about_path(1) %> </li>
    <li><%= link_to 'My No List', lists_path%> </li>
   
    
  </ul>
  
    <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
     
    </ul>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse social">
  <div id="footer">

    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
